/*   Drag & Drop Page */
.box, .box--empty, .box--inline, .box--inline--empty, .box--noresult, .box--match, .box--mismatch, .box--draggable, .ghostdrag--moving {
  height: 35px;
  margin-top: 15px;
  border: none;
  border-radius: 10px; }

.box--empty {
  border: 1px dashed #aaaaaa; }

.box--inline, .box--inline--empty {
  display: inline;
  padding: 0; }

.box--inline--empty {
  border: 1px dashed #aaaaaa; }

.box--noresult {
  background-image: url("/images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.box--match {
  background-image: url("/images/right.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.box--mismatch {
  background-image: url("/images/wrong.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.box--draggable {
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin: 0;
  border: 1px solid #aaaaaa;
  cursor: pointer; }

.row {
  margin-bottom: 15px; }

.body-container {
  margin-top: 30px 0; }

@media only screen and (max-width: 376px) {
  .ghostdrag--moving {
    font-size: 11px; } }
.ghostdrag {
  visibility: hidden; }

.ghostdrag--moving {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin: 0;
  border: 1px solid #aaaaaa;
  position: absolute;
  visibility: visible;
  width: 15%; }

#container-main {
  visibility: visible; }
