.map-img {
  width: 100%; }

.map-controls {
  margin-bottom: 2px; }

.map-stats {
  margin-top: 25px; }

.map-tracking {
  margin-bottom: 5px; }

.map-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  min-height: 250px;
  border: solid 1px gray; }
