/* Home Page   */ 

@media only screen and (max-width: 599px){
.banner--jumbo .panel .panel-body .container {
		font-size:15px;
		padding-top:10px;
		padding-bottom:10px;
	}
.panel-body {
	padding:0px;
	}
	
	.box-detection-info {
		width:100%;
	}
	
	.box-intro {
		width:100%;
	}
}

@media only screen and (min-width: 600px){
	.box-intro {
	width:80%;
	}
}

p:first-of-type	{
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
	color:#A9A9A9;
}

pre {
	background-color:#ffffff;
	word-break: normal;
	word-wrap: normal;
}

.box-detection-info {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	display: block;
    padding: 9.5px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
	width:90%;
	margin:0 auto 20px auto;
}

.box-intro {
	margin:auto;
}

#container-main {
	visibility:visible;
}