/* Responsive Page   */ 

@mixin align-items($alignValue) {
	-webkit-align-items: $alignValue;
	-moz-align-items: $alignValue;
	-ms-align-items: $alignValue;
	align-items: $alignValue;
}

@mixin justify-content($justifyValue) {
	-webkit-justify-content: $justifyValue;
	-moz-justify-content: $justifyValue;
	-ms-justify-content: $justifyValue;
	justify-content: $justifyValue;
}

.content-block	{
	border:solid 1px black;
	border-radius: 25px;
	margin-bottom:5px;
	text-align:center;
	display: -webkit-flex;
	display: flex;
	@include align-items(center);
	@include justify-content(center);

}

.body-container	{
	padding:30px 0;
}

.row	{
	margin-bottom:15px;
}

.row--first{
	background-color:orange;
}

.row--second{
	background-color:yellow;
}

.row--third{
	background-color:lightblue;
}

.row--fourth{
	background-color:#cccccc;
}

@media(max-width:767px){
	.row--first span:before	{
		content: "100% @ 767px or smaller";
	}
	
	.row--second span:before	{
		content: "100% @ 767px or smaller";
	}
	
	.row--third span:before	{
		content: "100% @ 767px or smaller";
	}
	
	.row--fourth span:before	{
		content: "100% @ 767px or smaller";
	}
	
	.row--first{height:50px;}
	.row--second{height:200px;}
	.row--third{height:100px;}
	.row--fourth{height:75px;}
}



@media(min-width:768px) and (max-width:991px){
	.row--first span:before	{
		content: "50% @ 768px or larger";
	}
	
	.row--second span:before	{
		content: "50% @ 768px - 991px";
	}
	
	.row div:last-of-type div.row--third:before	{
		content: "100% @ 768px - 991px";
	}
	
	.row div:not(:last-child) .row--third span:before	{
		content: "50% @ 768px - 991px";
	}
	
	.row--fourth span:before	{
		content: "50% @ 768px - 991px";
	}
	
	.row--first{height:50px;}
	.row--second{height:300px;}
	.row--third{height:148px;}
	.row--fourth{height:75px;}
	
	.row div:last-of-type div.row--third	{
		height:100px;
	}
}



@media(min-width:992px){
	.row--first span:before	{
		content: "50% @ 992px or larger";
	}
	
	.row--second span:before	{
		content: "100% @ 992px or larger";
	}
	.row--third span:before	{
		content: "33% @ 992px or larger";
	}
	
	.row--fourth span:before	{
		content: "25% @ 992px or larger";
	}

	#container-main.container {
		max-width: 750px;
	}

	.row--first{height:50px;}
	.row--second{height:300px;}
	.row--third{height:200px;}
	.row--fourth{height:150px;}
}

#container-main {
	visibility:visible;
}
