/* Responsive Page   */ 



.contentBlock	{

	border:solid 1px black;

	border-radius: 25px;

	margin-bottom:5px;

	text-align:center;

	display: -webkit-flex;

	display: flex;

	-webkit-align-items: center;

	-webkit-justify-content: center;

	align-items: center;

	justify-content: center;

}



.bodyContainer	{

	padding:30px 0;

}



.row	{

		margin-bottom:15px;

}



.firstRow{

	background-color:orange;

}



.secondRow{

	background-color:yellow;

}



.thirdRow{

	background-color:lightblue;

}



.fourthRow{

	background-color:#cccccc;

}



@media(max-width:767px){

	.firstRow span:before	{

		content: "100% @ 767px or smaller";

	}

	.secondRow span:before	{

		content: "100% @ 767px or smaller";

	}

	.thirdRow span:before	{

		content: "100% @ 767px or smaller";

	}

	.fourthRow span:before	{

		content: "100% @ 767px or smaller";

	}

	

	.firstRow{height:50px;}

	.secondRow{height:200px;}

	.thirdRow{height:100px;}

	.fourthRow{height:75px;}

}



@media(min-width:768px) and (max-width:991px){

	.firstRow span:before	{

		content: "50% @ 768px or larger";

	}

	.secondRow span:before	{

		content: "50% @ 768px - 991px";

	}

	

	.row div:last-of-type div.thirdRow:before	{

		content: "100% @ 768px - 991px";

	}

	

	.row div:not(:last-child) .thirdRow span:before	{

		content: "50% @ 768px - 991px";

	}

	

	.fourthRow span:before	{

		content: "50% @ 768px - 991px";

	}

	

	.firstRow{height:50px;}

	.secondRow{height:300px;}

	.thirdRow{height:148px;}

	.fourthRow{height:75px;}

	

	.row div:last-of-type div.thirdRow	{

		height:100px;

	}

	

	

}



@media(min-width:992px){

	.firstRow span:before	{

		content: "50% @ 992px or larger";

	}

	.secondRow span:before	{

		content: "100% @ 992px or larger";

	}

	.thirdRow span:before	{

		content: "33% @ 992px or larger";

	}

	.fourthRow span:before	{

		content: "25% @ 992px or larger";

	}

	

	#responsiveContainer.container {

		max-width: 750px;

	}

	

	.firstRow{height:50px;}

	.secondRow{height:300px;}

	.thirdRow{height:200px;}

	.fourthRow{height:150px;}

	

}