/* Core Styles   */ 

* {
	box-sizing: border-box;
}

.row:after {
	content: "";
	clear: both;
	display: block; 
}

[class*="col-c-"] {
	float: left;
	padding: 15px;
}

/* For mobile phones: */
[class*="col-c-"] {
	width: 100%;
}


@media only screen and (min-width: 275px) {
	.navbar-nav>li {
		float:left;
	}
}

@media only screen and (max-width: 376px) {
	#table-box--display, .row{
		font-size:11px;
	}
	.banner--jumbo .panel	{
		margin:0;
		font-size:17px;
	}
}

@media only screen and (min-width: 377px) {
.banner--jumbo .panel	{
	margin:0;
	font-size:19px;
}
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-c-1 {width: 8.33%;}
	.col-c-2 {width: 16.66%;}
	.col-c-3 {width: 25%;}
	.col-c-4 {width: 33.33%;}
	.col-c-5 {width: 41.66%;}
	.col-c-6 {width: 50%;}
	.col-c-7 {width: 58.33%;}
	.col-c-8 {width: 66.66%;}
	.col-c-9 {width: 75%;}
	.col-c-10 {width: 83.33%;}
	.col-c-11 {width: 91.66%;}
	.col-c-12 {width: 100%;}

	.tcol1 {width: 8.33%;}
	.tcol2 {width: 16.66%;}
	.tcol3 { width:25%;}
	.tcol7 {width: 58.33%;}

	.button-box button	{width:80px;}

	.navbar-right {
		float: right!important;
	}
}

@media only screen and (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {
		position: absolute;
		float: left;
		width: inherit;
		margin-top: 2px;
		background-color: #fff;
		border: 1px solid rgba(0,0,0,0.15);
		box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	}

	#nav-bar-container div	{
		margin:0;
		padding-top:0;
		padding-bottom:0;
	}

	.navbar-brand	{
		padding-top:0;
		padding-bottom:0;
	}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.modal-dialog {width: 700px;}
	.modal-header	{
		height:60px;
	}
	
	.navbar-right .dropdown-menu {
	    right: inherit;
	}
}

#contentView {
  position:relative;
  min-height:300px;
}

.loadimage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display:block;
	width:100%;
	height:300px;
	background-image: url('/images/loading1.gif');
	background-repeat: no-repeat;
	background-position:center;
}

h2	{
	margin-top:0;
}



pre.view-code	{
	font-size:10px;
}

.nav-modal li span	{
	padding: 0 10px 0 0;
	cursor:pointer;
	font-size:13px;
}

.modal-header .navbar-nav	{
	margin:0;
}

.modal-link	{
	cursor:pointer;
	text-align:right;
	color:red;
	text-decoration:underline;
	float:right;
}

.navbar-nav	{
	padding:8px 0 0 0;
}

.alt-active	{
	background-color:#f5f5f5;
	font-weight:bold;
}

.relative	{
	position:relative;
	margin:0;
	padding:0;
}

xmp	{
	white-space:pre-wrap;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -10px;
    -webkit-border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px;
    border-radius: 0 4px 4px 4px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.callout {
	color:#285e8e;
	font-weight:570;
}

.intro {
	margin-bottom:20px;
}

.body-container {
	margin-bottom:40px;
}
