<!-- Modal -->

<div id="commonModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
  	  <button type="button" class="close" data-dismiss="modal">&times;</button>
  	  <ul class="nav-modal nav navbar-nav navbar-left">
  			<li><span ng-click="exSrcType = 'html';"><i class="fa fa-html5"></i>HTML</span></li>
  			<li><span ng-click="exSrcType = 'css';"><i class="fa fa-css3"></i>CSS</span></li>
  				<li><span ng-click="exSrcType = 'app';"><i class="fa fa-dot-circle-o"></i>App JS</a></span>
  				<li><span ng-click="exSrcType = 'main';"><i class="fa fa-dot-circle-o"></i>Main JS</a></span>
  				<li><span ng-click="exSrcType = 'controllers';"><i class="fa fa-dot-circle-o"></i>Controllers</a></span>
  				<li><span ng-click="exSrcType = 'directives';"><i class="fa fa-dot-circle-o"></i>Directives</a></span>
  				<li><span ng-click="exSrcType = 'services';"><i class="fa fa-dot-circle-o"></i>Services</a></span>
  		</ul>
      </div>
      <div class="modal-body">
	    <div>{{ap.modalSourceObject[ap.modalCollection][exSrcType]}}</div>
      <pre class="view-code"><xmp ng-include="ap.modalSourceObject[ap.modalCollection][exSrcType]"></xmp></pre>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>