<!-- r-js-responsive.html -->

<div id="container-main" style="visibility:hidden" class="container"> 
<div class="container modal-link" id="source-link" data-toggle="modal" 
data-target="#commonModal" ex-src="rJsResponsive">View Example Source</div>

<h2>ResponseJS Responsive Layout</h2>
<p>Angular Bootstrap CSS3 Flex HTML5 - (Change browser size to test responsive layout.)</p>

<div class="body-container">
    <div class="row">
        <div class="col-xs-0 col-sm-2 col-m-2 side" 
        data-r768="<div class='row--side-nav side-block'><span>This sidebar<br>
        will <b>disapear</b><br>when page<br>width is<br>less than<br><b>768 px</b><br>
        and<br/><b>re-appear</b><br>at the<br>bottom</span></div>">
        </div>
        <div class="col-xs-12 col-sm-10 col-m-10 main">
        <div class="row">
        <div class="col-sm-6 col-md-6">
        <div class="row--first content-block">
        <span 
        data-r0="Top Left Component layout under <b>768 px</b>" 
        data-r768="Top Left Component layout<br>between <b>768 px</b> & <b>992 px</b>" 
        data-r992="Top Left Component layout above <b>992 px</b>">
        </span>
        </div>
        </div>
        <div class="col-sm-6 col-md-6">
        <div class="row--first content-block">
        <span 
        data-r0="Top Right Component layout under <b>768 px</b>" 
        data-r768="Top Right Component layout<br>between <b>768 px</b> & <b>992 px</b>" 
        data-r992="Top Right Component layout above <b>992 px</b>">
        </span>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-6 col-md-12">
        <div class="row--second content-block">
        <span
        data-r0="<img src='/images/768.png' width='90%'>" 
        data-r768="<img src='/images/768-992.png' width='90%'>" 
        data-r992="<img src='/images/992.png' width='90%'>">
        </span>
        </div>
        </div>
        <div class="col-sm-6 col-md-4">
        <div class="row--third content-block">
        <span
        data-r0="Secondary Component layout under <b>768 px</b>"
        data-r768="<b>Version One</b>: Secondary Component layout<br>between <b>768 px</b> & <b>992 px</b>"
        data-r992="Secondary<br/>Component<br/>layout above <b>992 px</b>">
        </span>
        </div>
        </div>
        <div class="col-sm-6 col-md-4">
        <div class="row--third content-block">
        <span
        data-r0="Secondary Component layout under <b>768 px</b>"
        data-r768="<b>Version One</b>: Secondary Component layout<br>between <b>768 px</b> & <b>992 px</b>"
        data-r992="Secondary<br/>Component<br/>layout above <b>992 px</b>">
        </span>
        </div>
        </div>
        <div class="col-sm-12 col-md-4">
        <div class="row--third content-block">
        <span
        data-r0="Secondary Component layout under <b>768 px</b>"
        data-r768="<b>Version Two</b>: Secondary Component layout<br>between <b>768 px</b> & <b>992 px</b>"
        data-r992="Secondary<br/>Component<br/>layout above <b>992 px</b>">
        </span>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-6 col-md-3">
        <div class="row--fourth content-block">
        <span
        data-r0="Tertiary Component layout under <b>768 px</b>"
        data-r768="Tertiary Component layout<br>between <b>768 px</b> & <b>992 px</b>"
        data-r992="Tertiary<br/>Component<br/>layout<br/>above <b>992 px</b>">
        </span>
        </div>
        </div>
        <div class="col-sm-6 col-md-3">
        <div class="row--fourth content-block">
        <span
        data-r0="Tertiary Component layout under <b>768 px</b>"
        data-r768="Tertiary Component layout<br>between <b>768 px</b> & <b>992 px</b>"
        data-r992="Tertiary<br/>Component<br/>layout<br/>above <b>992 px</b>">
        </span>
        </div>
        </div>
        <div class="col-sm-6 col-md-3">
        <div class="row--fourth content-block">
        <span
        data-r0="Tertiary Component layout under <b>768 px</b>"
        data-r768="Tertiary Component layout<br>between <b>768 px</b> & <b>992 px</b>"
        data-r992="Tertiary<br/>Component<br/>layout<br/>above <b>992 px</b>">
        </span>  
        </div>
        </div>
        <div class="col-sm-6 col-md-3">
        <div class="row--fourth content-block">
        <span
        data-r0="Tertiary Component layout under <b>768 px</b>"
        data-r768="Tertiary Component layout<br>between <b>768 px</b> & <b>992 px</b>"
        data-r992="Tertiary<br/>Component<br/>layout<br/>above <b>992 px</b>">
        </span>
        </div>
        </div>
        </div>  
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-m-12 side" 
        data-r0="<div class='row--bottom-nav content-block'><span>Sidebar content is now here 
        when page width is less than <b>768 px</b></span></div>"
        data-r768="">
        </div>
        </div>
        </div>
    </div>
</div>	
</div>
