/* Geolocate Page   */ 

@import 'partials/mixins';

.map-controls {
	margin-bottom:2px;
}

.map-container {
    .map-img {
        width:100%;
    }
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    @include align-items(center);
    @include justify-content(center);
    min-height:250px;
    border:solid 1px gray;
}

.map-stats {
    margin-top:25px;
}

.map-tracking {
    margin-bottom:5px;
}

#container-main {
	visibility:visible;
}
