/* SVGPolyline Page   */ 

/* IE Hack for SVG scaling */
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.graph-container{
		height: 0;
		padding-top: 50%;
		position: relative;
	}
	svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%); 
	}
	.ieClass	{
		height: 0;
		padding-top: 50%;
	}
	.box-center	{
		position:absolute; 
		top: 50%; 
		left:50%;
		transform: translate(-50%,-50%);
	}
	.body-Container	{
		padding:0!important;
	}
}    

/* IE Hack for SVG scaling */

@media(min-width:768px) {
	.data-input	{
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		-ms-align-items: center;
		-ms-justify-content: center;
		align-items: center;
		justify-content: center;
	}
}

#data-button-toggle	{
	font-size:10px;
	margin:0 auto 15px auto;
	width:290px;
	button{
		border:solid 1px #428bca;
		background-color:#e7e7e7;
		border-radius:5px;
		padding:2px 5px;
		margin-right:5px;
	}
}

fieldset	{
	font-size:9px;
	width:290px;
	margin:0 auto 15px auto;
	legend	{
		font-size:11px;
		margin-bottom:5px;
		font-weight:bold;
	}
}

input[type="number"]	{  
	width:42px;
	border-radius:15px;
	padding-left:5px;
	margin-right:1px;
	border:1px solid #ccc;
	outline:none;
	box-shadow: none;
	font-size:9px;
	-moz-appearance: textfield;
	&:focus	{
		outline:none;
	    box-shadow: 0 0 0 1pt lightblue;
	    -moz-appearance: number-input;
	}
	&:blur	{
		outline:none;
	}
	&:hover {
		-moz-appearance: number-input;  
	}
}

input:invalid {
  box-shadow: none;
}

input:-moz-submit-invalid {
  box-shadow: none;
}

input:-moz-ui-invalid {
  box-shadow:none;
}

.graph {
	.labels {
	  font-size: 13px;
	  .label-title {
		  font-weight: bold;
		  text-transform: uppercase;
		  font-size: 12px;
		  fill: black;
		}
	}
	.labels.x-labels {
	  text-anchor: middle;
	}
	.labels.y-labels {
	  text-anchor: end;
	}
	.labels.yr-labels {
	  text-anchor: start;
	}
	.grid {
	  xstroke: #ccc;
	  stroke-dasharray: 0;
	  xstroke-width: 1;
	}
	.data {
	  fill: red;
	  stroke-width: 1; 
	}
}

#container-main {
	visibility:visible;
}


