<!-- dynamic-data.html -->

<div id="container-main" class="container"> 
<div class="container modal-link" id="source-link" data-toggle="modal" 
data-target="#commonModal">View Example Source</div>

<h2>Dynamic Data Table</h2>
<p>Angular HTML5 JQuery Ajax JSON CSS3 Bootstrap PHP MySQL</p>

<div class="body-container">
	<div class="col-c-3 table-box">
		<table dynamic-selector-list class="table table-hover">

		<caption class="table-caption"><h4>Data Selection List</h4></caption>

			<tbody>
			<tr><td class="table-datalist-item" ng-click="dd.dataLoader('movies')">Movies</td></tr>
			<tr><td class="table-datalist-item" ng-click="dd.dataLoader('food')">Food</td></tr>
			<tr><td class="table-datalist-item" ng-click="dd.dataLoader('cars')">Cars</td></tr>
			</tbody>

		</table>
	</div>
	<div class="col-c-1"></div>
	<div class="col-c-8 table-box" id="table-box--display">
	<div id="table-box--display-inner">
		<div class="table"> 
		<div class="table-caption"><h4>Data Display Table</h4>
		<h5>(Click fields to edit)(Click heads to order)</h5></div> 
			<div dynamic-display-list class="table-header-group">
			<div class="table-row">

			<div class="tcol2 table-cell">
			<div class="table-data-display-header" ng-click="dd.orderController('ID')">
			<div class="button-box">
				<button class="btn btn-sm btn-primary" type="button">ID 
				<span class="caret-box"></span></button>
			</div>
			</div>
			</div>

			<div class="tcol7 table-cell">
			<div class="table-data-display-header" ng-click="dd.orderController('name')">
			<div class="button-box">
				<button class="btn btn-sm btn-primary" type="button">Name 
				<span class="caret-box"></span></button>
			</div>
			</div>
			</div>

			<div class="tcol2 table-cell">
			<div class="table-data-display-header" ng-click="dd.orderController('rating')">
			<div class="button-box">
				<button class="btn btn-sm btn-primary" type="button">Rating 
				<span class="caret-box"></span></button>
			</div>
			</div>
			</div> 

			<div class="tcol1 table-cell"></div> 

			</div>
			</div>
			<div class="table-row-group">
			<form name="editForm" 
			on-last-repeat="['table-box--display-inner','table-box--display']" 
			ng-repeat="dataItem in dd.dataList | orderBy:dd.selectedOrder:dd.reverse" 
			class="table-row" ng-submit="editing = false; dd.dataPoster(dataItem,'update')">

			<div class="tcol2 table-cell" ng-hide="editing">{{dataItem.ID}}</div> 
			<div class="tcol2 table-cell" ng-show="editing">
				<button class="btn table-btn" type="submit">Save</button>
			</div>

			<div class="tcol7 table-cell" ng-hide="editing" 
			ng-click="dd.setEditState(dataItem); editing = true">{{dataItem.name}}</div>
			<div class="tcol7 table-cell" ng-show="editing">
				<input name="name" type="text" ng-model="dataItem.name" 
				ng-class="{'has-error':editForm.name.$invalid && editForm.name.$touched}"
				class="form-input" placeholder="{{dataItem.name}}" required />
			</div>

			<div class="tcol2 table-cell" ng-hide="editing" 
			ng-click="dd.setEditState(dataItem); editing = true">{{dataItem.rating}}</div>
			<div class="tcol2 table-cell" ng-show="editing">
				<input name="rating" type="number" min="0" max="10" ng-model="dataItem.rating" 
				ng-class="{'has-error':editForm.rating.$invalid && editForm.rating.$touched}"
				class="form-input" placeholder="{{dataItem.rating}}" required />
			</div>

			<div class="tcol1 table-cell" ng-hide="editing">
				<span ng-click="dd.dataPoster(dataItem, 'remove')" 
				class="deleteRowBtn fa fa-times"></span>
			</div>
			<div class="tcol1 table-cell" ng-show="editing">
				<span ng-click="dd.cancelAction(dataItem); editing = false" 
				class="deleteRowBtn fa fa-ban"></span>
			</div>

			</form>
			<div class="table-row"><div style="height:5px;" class="tcol12"></div></div>
			<form name="addForm" class="table-row" ng-show="dd.tableLoaded" 
			ng-submit="adding = false; dd.dataPoster(dd.newDataItem,'insert')">
			<div ng-init="dd.setForm(addForm);" 
			class="tcol2 table-cell table-cell-action-left" ng-hide="adding" 
			ng-click="dd.newRecord(); adding = true">Click to Add</div>
			<div class="tcol2 table-cell action-cell" ng-show="adding">
				<button class="btn table-btn" type="submit">Save</button> 
			</div>
			
			<div class="tcol7 table-cell table-cell-action" ng-show="adding">
				<input name="name" type="text" ng-model="dd.newDataItem.name" 
				ng-class="{'has-error':addForm.name.$invalid && addForm.name.$touched}"
				class="form-input" placeholder="Name" required /> 
			</div>
			
			<div class="tcol2 table-cell table-cell-action" ng-show="adding">
				<input name="rating" type="number" min="0" max="10" ng-model="dd.newDataItem.rating" 
				ng-class="{'has-error':addForm.rating.$invalid && addForm.rating.$touched}"
				class="form-input" placeholder="Rating" required /> 
			</div>
			
			<div class="tcol1 table-cell table-cell-action" ng-show="adding">
				<span ng-click="adding=false" class="fa fa-ban"></span>
			</div>
			
			</form>
			</div>
		</div>
	</div>
	</div>
</div>
</div>



