<!-- dynamic-data.html -->
   
	<div class="container"> 
		<h2>Dynamic Loading and Display of Data</h2>
		<p>Angular Ajax JSON Bootstrap PHP MySQL CSS3 Responsive</p>
		<div class="bodyContainer">
			<div class="col-3 col-m-2 tablebox">
				<table class="table table-hover ">
				<thead>
					<caption><h4>Data Selection List</h4></caption>
				</thead>
				<tbody>
					<tr><td class="dataListItem" ng-click="dataLoader('movies'); styleSwap($event, 'dataListItem')">Movies</td></tr>
					<tr><td class="dataListItem" ng-click="dataLoader('food'); styleSwap($event, 'dataListItem')">Food</td></tr>
					<tr><td class="dataListItem" ng-click="dataLoader('cars'); styleSwap($event, 'dataListItem')">Cars</td></tr>
				</tbody>
				</table>
			</div>
			<div class="col-1 col-m-1"></div>
			<div class="col-8 col-m-9 tablebox" id="tableDisplayBox">
				<table class="table table-hover">
					<thead>
						<caption><h4>Data Display Table</h4></caption>
						<tr>
							<th><div ng-click="orderController($event,'ID'); styleSwap($event, 'dataDisplay')"><div class="buttonBox"><button class="btn btn-primary" type="button">ID <span class="caretBox"></span></button></div></div></th>
							<th><div ng-click="orderController($event,'name'); styleSwap($event, 'dataDisplay')"><div class="buttonBox"><button class="btn btn-primary" type="button">Name <span class="caretBox"></span></button></div></div></th>
							<th><div ng-click="orderController($event,'rating'); styleSwap($event, 'dataDisplay')"><div class="buttonBox"><button class="btn btn-primary" type="button">Rating <span class="caretBox"></span></button></div></div></th>
						</tr>
					</thead>
					<tbody>
						<tr on-last-repeat="tableDisplayBox" ng-repeat="dataItem in dataList | orderBy:selectedOrder:reverse">
							<td>{{dataItem.ID}}</td>
							<td>{{dataItem.name}}</td>
							<td>{{dataItem.rating}}</td>
						</tr>
					</tbody>
				</table>
			
			</div>
		</div>
	</div>
    