<link rel="stylesheet" type="text/css" href="../css/sandbox.css">

<!-- sandbox.html -->
<div class="container"> 
<div class="container modalLink" id="sourceLink" data-toggle="modal" 
data-target="#commonModal" ex-src="sandbox">View Example Source</div>
<h2>SVG Graphs</h2>
<p>Angular Bootstrap SVG CSS3 HTML5</p>

	<div id="exampleContainer" class="bodyContainer" ng-controller="graphs">
	<div id="polylineContainer">
		<div class="row dataInput">
		<div class="col-sm-5 col-md-4 ieClass">
		<div class="centerBox">
		<div id="dataButtonToggle"><button ng-click="setGraphData(2)">Your Data</button><button ng-click="setGraphData(1)">NFL Sacks</button><button ng-click="setGraphData(0)">NFL Passing</button></div>
		<fieldset ng-repeat="graphDataSet in graphData.data track by $index">
		<legend>{{graphData.data[$index].dataSetLabel}}</legend>
			<span ng-repeat="graphDataItems in graphDataSet.dataValues track by $index">
				<label>{{graphData.data[$parent.$index].dataLabels[$index]}}</label><input 
				class="chartInput" name="{{graphData.data[$parent.$index].fieldName}}" 
				ng-model="graphData.data[$parent.$index].dataValues[$index]" type="number" 
				min="{{graphData.yMinValue}}" max="{{graphData.yMaxValue}}" step="{{graphData.ySetpVal}}">
			</span>
		</fieldset>
		</div>
		
		</div>
		
		<div class="graphContainer col-sm-7 col-md-8">
			<svg svg xmlns="http://www.w3.org/2000/svg" version="1.2"  viewbox="0 0 800 500" class="graph">
				<g class="grid x-grid" id="xGrid">
					<line ng-repeat="n in [].constructor(graphData.xIncriment+1) track by $index"
						ng-attr-style="stroke:{{graphData.graphVisualColor}};stroke-width:{{graphData.graphStrokeWidth}}"
						ng-attr-x1="{{graphData.leftMargin + (graphData.xBoxWidth * $index)}}"
						ng-attr-y1="{{graphData.headHeight }}"
						ng-attr-x2="{{graphData.leftMargin + (graphData.xBoxWidth * $index)}}" 
						ng-attr-y2="{{graphData.headHeight + graphData.dataFieldHeight}}">
					</line>
				</g>
				<g class="grid y-grid" id="yGrid">
				
					<line ng-repeat="n in [].constructor(graphData.yIncriment+1) track by $index"
						ng-attr-style="stroke:{{graphData.graphVisualColor}};stroke-width:{{graphData.graphStrokeWidth}}"
						ng-attr-x1="{{graphData.leftMargin}}"
						ng-attr-y1="{{graphData.headHeight + (graphData.yBoxHeight * $index)}}"
						ng-attr-x2="{{graphData.leftMargin + graphData.dataFieldWidth}}" 
						ng-attr-y2="{{graphData.headHeight + (graphData.yBoxHeight * $index)}}">
					</line>
				</g>
				<g class="labels x-labels">
				  <text x="90" y="452">{{graphData.xLabels[0]}}</text>
				  <text x="246" y="452">{{graphData.xLabels[1]}}</text>
				  <text x="402" y="452">{{graphData.xLabels[2]}}</text>
				  <text x="558" y="452">{{graphData.xLabels[3]}}</text> 
				  <text x="714" y="452">{{graphData.xLabels[4]}}</text>
				  <text x="400" y="492" class="label-title">{{graphData.xTitle}}</text>
				  <text ng-attr-x="{{graphData.graphWidth/2}}" y="15" class="label-title">{{graphData.graphTitle}}</text>
				</g>
				<g class="labels y-labels">
				  <text ng-repeat="n in [].constructor(graphData.yIncriment+1) track by $index"
				  ng-attr-x="{{graphData.leftMargin-10}}" 
				  ng-attr-y="{{graphData.headHeight + (graphData.yBoxHeight * $index)}}">
					{{(graphData.yMaxValue)-((graphData.yMaxValue/graphData.yIncriment)*($index))}}
				  </text>
				  <text x="50" ng-attr-y="{{graphData.graphHeight/2}}" class="label-title">{{graphData.yTitle}}</text>
				</g>
				<g class="data" data-setname="graphDataSet" ng-attr-transform="translate(0 {{graphData.transOffset}}) scale(1, -1)">
					<polyline ng-repeat="graphOutput in graphData.data track by $index"
						polyline-config 
						ng-attr-style="fill:none;stroke:{{graphOutput.visualColor}};stroke-width:{{graphOutput.strokeWidth}}" 
						ng-attr-points="90,{{graphOutput.dataValues[0]*graphData.ym}} 
						246,{{graphOutput.dataValues[1]*graphData.ym}} 
						402,{{graphOutput.dataValues[2]*graphData.ym}} 
						558,{{graphOutput.dataValues[3]*graphData.ym}} 
						714,{{graphOutput.dataValues[4]*graphData.ym}}"/>
					<g class="labels yr-labels">
					<text ng-repeat="graphLabelOutput in graphData.data track by $index"
					ng-attr-x="{{graphData.leftMargin + graphData.dataFieldWidth + 5}}" 
					y="0" 
					class="label-title" 
					ng-attr-transform="translate(0 {{graphLabelOutput.dataValues[4]*graphData.ym}}) scale(1, -1)">
					{{graphLabelOutput.graphDataLabel}}</text>
				  </g>
				</g>
			</svg>
		
		</div>
	</div>	
		
</div>
</div>
</div>
