<!-- SVGPolyline.html.html -->
<div class="container"> 
<div class="container modal-link" id="source-link" data-toggle="modal" 
data-target="#commonModal" ex-src="svgPolyline">View Example Source</div>

<h2>SVG Polyline Graphs</h2>
<p>Angular HTML5 SVG CSS3 SASS Bootstrap</p>

<div id="exampleContainer" class="body-Container">
<div id="polylineContainer">
	<div class="row data-input">
	<div class="col-sm-5 col-md-4 ieClass">
	<div class="box-center">
	<div id="data-button-toggle">
		<button ng-click="pg.graphSwitch(pg.yourData)">Your Data</button>
		<button ng-click="pg.graphSwitch(pg.nflSacks)">NFL Sacks</button>
		<button ng-click="pg.graphSwitch(pg.nflPassing)">NFL Passing</button>
	</div>
	<fieldset ng-repeat="graphDataSet in pg.graphData.data track by $index">
	<legend>{{pg.graphData.data[$index].dataSetLabel}}</legend>
		<span ng-repeat="graphDataItems in graphDataSet.dataValues track by $index">
		<label>{{pg.graphData.data[$parent.$index].dataLabels[$index]}}</label><input 
		class="chartInput" name="{{pg.graphData.data[$parent.$index].fieldName}}" 
		ng-model="pg.graphData.data[$parent.$index].dataValues[$index]" type="number" 
		min="{{pg.graphData.yMinValue}}" max="{{pg.graphData.yMaxValue}}" step="{{pg.graphData.ySetpVal}}">
		</span>
	</fieldset>
	</div>
	
	</div>
	
	<div class="graph-container col-sm-7 col-md-8">
	<svg svg xmlns="http://www.w3.org/2000/svg" version="1.2"  viewbox="0 0 800 500" class="graph">
	<g class="grid x-grid" id="xGrid">
		<line ng-repeat="n in [].constructor(pg.graphData.xIncriment+1) track by $index"
		ng-attr-style="stroke:{{pg.graphData.graphVisualColor}};stroke-width:{{pg.graphData.graphStrokeWidth}}"
		ng-attr-x1="{{pg.graphData.leftMargin + (pg.graphData.xBoxWidth() * $index)}}"
		ng-attr-y1="{{pg.graphData.headHeight }}"
		ng-attr-x2="{{pg.graphData.leftMargin + (pg.graphData.xBoxWidth() * $index)}}" 
		ng-attr-y2="{{pg.graphData.headHeight + pg.graphData.dataFieldHeight()}}">
		</line>
	</g>
	<g class="grid y-grid" id="yGrid">
		<line ng-repeat="n in [].constructor(pg.graphData.yIncriment+1) track by $index"
		ng-attr-style="stroke:{{pg.graphData.graphVisualColor}};stroke-width:{{pg.graphData.graphStrokeWidth}}"
		ng-attr-x1="{{pg.graphData.leftMargin}}"
		ng-attr-y1="{{pg.graphData.headHeight + (pg.graphData.yBoxHeight() * $index)}}"
		ng-attr-x2="{{pg.graphData.leftMargin + pg.graphData.dataFieldWidth()}}" 
		ng-attr-y2="{{pg.graphData.headHeight + (pg.graphData.yBoxHeight() * $index)}}">
		</line>
	</g>
	<g class="labels x-labels">
	  <text x="90" y="452">{{pg.graphData.xLabels[0]}}</text>
	  <text x="246" y="452">{{pg.graphData.xLabels[1]}}</text>
	  <text x="402" y="452">{{pg.graphData.xLabels[2]}}</text>
	  <text x="558" y="452">{{pg.graphData.xLabels[3]}}</text> 
	  <text x="714" y="452">{{pg.graphData.xLabels[4]}}</text>
	  <text x="400" y="492" class="label-title">{{pg.graphData.xTitle}}</text>
	  <text ng-attr-x="{{pg.graphData.graphWidth/2}}" y="15" class="label-title">{{pg.graphData.graphTitle}}</text>
	</g>
	<g class="labels y-labels">
	  <text ng-repeat="n in [].constructor(pg.graphData.yIncriment+1) track by $index"
	  ng-attr-x="{{pg.graphData.leftMargin-10}}" 
	  ng-attr-y="{{pg.graphData.headHeight + (pg.graphData.yBoxHeight() * $index)}}">
		{{(pg.graphData.yMaxValue)-((pg.graphData.yMaxValue/pg.graphData.yIncriment)*($index))}}
	  </text>
	  <text x="50" ng-attr-y="{{pg.graphData.graphHeight/2}}" class="label-title">{{pg.graphData.yTitle}}</text>
	</g>
	<g class="data" data-setname="graphDataSet" 
	ng-attr-transform="translate(0 {{pg.graphData.transOffset()}}) scale(1, -1)">
		<polyline ng-repeat="graphOutput in pg.graphData.data track by $index"
		polyline-config 
		ng-attr-style="fill:none;stroke:{{graphOutput.visualColor}};stroke-width:{{graphOutput.strokeWidth}}" 
		ng-attr-points="90,{{graphOutput.dataValues[0]*pg.graphData.ym()}} 
		246,{{graphOutput.dataValues[1]*pg.graphData.ym()}} 
		402,{{graphOutput.dataValues[2]*pg.graphData.ym()}} 
		558,{{graphOutput.dataValues[3]*pg.graphData.ym()}} 
		714,{{graphOutput.dataValues[4]*pg.graphData.ym()}}"/>
		<g class="labels yr-labels">
		<text ng-repeat="graphLabelOutput in pg.graphData.data track by $index"
		ng-attr-x="{{pg.graphData.leftMargin + pg.graphData.dataFieldWidth() + 5}}" 
		y="0" 
		class="label-title" 
		ng-attr-transform="translate(0 {{graphLabelOutput.dataValues[4]*pg.graphData.ym()}}) scale(1, -1)">
		{{graphLabelOutput.graphDataLabel}}</text>
	  </g>
	</g>
	</svg>
	</div>
	</div>		
</div>
</div>
</div>
